* {
    width: 960px;
}
/* elements */
body {
    background-color: navy;
}

u {
    color: #500596;
}

h1 {
    color: #abd0d6;
}

/* id */
#webPageHeader {
    background-color: #8b0808;
    width: auto;
    padding: 10px;
    margin: 2.5px;
    border-radius: 25px;
}

#navigation {
    background-color: #069ba0;
    height: auto;
    width: 205px;
    padding: 5px;
    margin: 10px 15px 0px 2.5px;
    border-radius: 25px;
    display: inline-block;
    float: left;
   }

/* coloring embedded links within div*/
#navigation a {
color: #80dadd
}

/*removing bullets from specific list items within a ul by assigning li items an individual class*/
#navigation .a {
    list-style-type: none;
}

/* color bullets in list within div*/
#navigation li {
    color: #c7dedf
}

#maincontent {
    color: lightblue;
    background-color: black;
    width: 680px;
    padding: 5px;
    margin: 10px 15px 0px 2.5px;
    border-radius: 25px;
    display: inline-block;
    float: right;
}

#about {
    
}
