/* elements */
body {
    background-color: white;
}

u {
    color: #500596;
}

h1 {
    color: #abd0d6;
}

/* id */
#webPageHeader {
    background-color: #8b0808;
    width: auto;
    padding: 10px;
    margin: 2.5px;
    border-radius: 25px;
}

#navigation {
    background-color: #069ba0;
    height: auto;
    width: 180px;
    padding: 5px;
    margin: 10px 10px 0px 2.5px;
    border-radius: 25px;
    float: left;
   }

/* coloring embedded links within div*/
#navigation a {
color: #80dadd
}

/*removing bullets from specific list items within a ul by assigning a marker (i.e. <li.a></li.a>*/
#navigation li.a {
    list-style-type: none;
}

/* color bullets in list within div*/
#navigation li {
    color: #c7dedf
}
